<nav>
    <ul>
        <li><a class="nav__space" href="/index.html">Brians Ostebiks</a></li>
        <li><a href="/oste/index.html">Oste</a></li>
        <li><a href="#">Vin</a></li>
        <li><a href="#">Brød</a></li>
        <li><a href="#">Kontakt</a></li>
    </ul>
</nav>