<% include ../partials/head %>
<% include ../partials/header %>
<% include ../partials/nav %>


<main>
    <section class="mainsec">
        <h1>brians ostebiks</h1>
        <h2>ugens ost</h2>
        <div class="index___grid__box">

            <p>cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese
                cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese
                cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese cheese </p>
            <p>læs mere</p>

            <button class="add_button">install</button>


        </div>
    </section>


</main>


<% include ../partials/footer %>
<% include ../partials/afterfooter %>