*{
    padding: 0;
    margin: 0 auto;
}



main{
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    }


.add_button{
    display: none;
    width: 200px;
}
 